@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary : #0052CC;
  --color-secondary : #0D1117;
  --color-hero : #171E25;
  --color-navbar : #D8D7D3
}


.bg-image{
  background-image: var();
}